<div class="container">  
		<div class="card">
            <div class="card-header">
				<i class="fa fa-fw fa-edit"></i> 
				<strong> New User </strong>          	
			</div>
			
			<div class="card-body">
				<div class="col-sm-8">			
					<%= render 'form', user: @user %>	
				</div>
			</div>
	
		</div>	  
</div>  