<div class="container"> 
	<div class="card">
        <div class="card-header">
            <i class="fa fa-fw fa-edit"></i> 
            <strong>View video</strong>          
            <%= link_to videos_path , class:'float-right btn btn-purple btn-sm'  do %>
                <i class="fa fa-fw fa-globe"> </i> Search
            <% end %>
        </div>
			
    	
		<div class="card-body">
			<div class="col-sm-8">

					<div class="form-group">
						<label class="col-form-label col-form-label-lg"> Nome </label>
						<%= label_tag @video.nome  %>  
					</div>

					<div class="form-group">
						<label class="col-form-label col-form-label-lg"> URL </label>
						<%= label_tag @video.url  %>						
					</div>
	
					<div class="form-group">
						
						<%= link_to videos_path , class:'btn btn-danger btn-sm"'  do %>
							<i class="fa fa-fw fa-minus-circle"> </i> Back
						<% end %>

					</div>
			</div>
		</div>
	
	</div>	  
</div>  

