 <div class="py-5">

     <div class="container">
         <div class="row hidden-md-up">
             
             <% @videos.each do |item| %>
             <div class="col-md-4">
                 <!-- Card -->
                 <div class="card">

                     <!-- Card content -->
                     <div class="card-body d-flex flex-row">

                         <!-- Avatar -->
                         <img src="/images/support.png" 
                              class="rounded-circle mr-3" 
                              height="50px"
                               width="50px" alt="avatar">

                         <!-- Content -->
                         <div>

                             <!-- Title -->
                             <h4 class="card-title font-weight-bold mb-2">
                                <%= item.nome %>
                             </h4>
                             <!-- Subtitle -->
                             <p class="card-text"><i class="far fa-clock pr-2"></i>
                                 <%= Time.now %>
                             </p>

                         </div>

                     </div>

                     <!-- Card image -->
                     <div class="view overlay">
                         <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap">
                         <a href="#!">
                             <div class="mask rgba-white-slight"></div>
                         </a>
                     </div>

                     <!-- Card content -->
                     <div class="card-body">

                         <div class="collapse-content">

                             <!-- Text -->
                             <p class="card-text collapse" id="collapseContent">
                                Watch the video here
                                <a href="<%= item.url %>"></a>
                             </p>
                             <!-- Button -->
                             <a class="btn btn-outline-primary btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Details</a>
                             <i class="fa fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                             <i class="fa fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>

                         </div>

                     </div>

                 </div>
                 <!-- Card -->
             </div>
             <% end %>

            
         </div>
     </div>
 </div>